.idea
ssd_score
records
scripts
datasets
checkpoints
results
auxiliary_files

tool/PerceptualSimilarity/
losses/other_losses/
models/other_models/

data/__pycache__
losses/__pycache__
losses/pytorch_msssim/__pycache__
models/__pycache__
options/__pycache__
tool/__pycache__
util/__pycache__

tool/metrics_fid_fashion.py
tool/metrics_fid_market.py
tool/metrics_ssim_fashion.py
tool/metrics_ssim_market.py
tool/inception_score.py
tool/inception.py



